# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name

# CORS Configuration
CORS_ORIGIN=*

# Logging
LOG_LEVEL=info
